<div style="margin-left:15%;padding:1px 16px;">
  <h3>Timesheet Submission</h3>
  <a routerLink="/addtimecard">Add New</a>
  <table class="table table-hover" style="width: auto;">
    <thead>
      <tr>
        <th>
          Site Code
        </th>
        <th>
          Contractor Name
        </th>
        <th>
          Total Job Hours
        </th>
        <th>
          Total Machine Hours
        </th>
        <th>
          Total Job Amount
        </th>
        <th>
          Total Machine Amount
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of timecards">
        <td><a routerLink="/timecarddetail/{{ t.id }}">
          {{ t.siteCode }}
        </a></td>
        <td>{{ t.name }}</td>
        <td>{{ t.totalJobHrs }}</td>
        <td>{{ t.totalMachineHrs }}</td>
        <td>{{ t.totalJobAmount }}</td>
        <td>{{ t.totalMachineAmount }}</td>
        <td>{{ t.isConfirmed }}</td>
        <td>
          <a routerLink="/edittimecard/{{ t.id }}">Edit</a>
        </td>
        <td>
          <a routerLink="/deletetimecard/{{ t.id }}">
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
