<style>
  input {
    width: auto;
  }
</style>
<div style="margin-left:15%;padding:1px 16px;height:1000px;">
  <label>ID</label>
  <p>
    <input
      class="form-control"
      disabled
      type="text"
      [(ngModel)]="jobModel.Id"
    />
  </p>

  <label>Job Code</label>
  <p>
    <input
      class="form-control"
      required
      type="text"
      [(ngModel)]="jobModel.JobCode"
    />
  </p>

  <label>Description</label>
  <p>
    <input
      class="form-control"
      type="text"
      [(ngModel)]="jobModel.Description"
    />
  </p>
  <label>Hourly Rate</label>
  <p>
    <input class="form-control" type="text" [(ngModel)]="jobModel.HrRate" />
  </p>
  <label>Max Hour per Day</label>
  <p>
    <input
      class="form-control"
      type="text"
      [(ngModel)]="jobModel.MaxHrPerDay"
    />
  </p>
  <button class="btn btn-primary" type="submit" (click)="onSubmit()">
    Register
  </button>
</div>
