<form #loginForm="ngForm"
    style="padding-top: 4pt; padding-bottom: 2pt; float: right; padding-right: 2pt;"
    class="form-inline mt-2 mt-md-0" 
    (ngSubmit) = "login()">
   
    <input class="form-control mr-sm-2" style="width: 40%; font-size: 12px;" type="text" name="username" placeholder="Username" required [(ngModel)]="model.username">
    <input class="form-control mr-sm-2" style="width: 40%; font-size: 12px;" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
    <button [disabled]="!loginForm.valid" style="width: 14%; font-size: 12px;" class="btn btn-success" type="submit">Login</button>
  
  </form>
