<div style="margin-left:15%;padding:1px 16px;">
  <h3>Jobs List</h3>
  <a routerLink="/addjob">Add New</a>
  <table class="table table-hover" style="width: auto;">
    <thead>
      <tr>
        <th>
          Job Code
        </th>
        <th>
          Description
        </th>
        <th>
          Hourly Rate
        </th>
        <th>
          Max Hours per Day
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td>{{ job.jobCode }}</td>
        <td>{{ job.description }}</td>
        <td>{{ job.hrRate }}</td>
        <td>{{ job.maxHrPerDay }}</td>
        <td>
          <a routerLink="/editjob/{{ job.id }}">
            Edit
          </a>
        </td>
        <td>
          <a routerLink="/deletejob/{{ job.id }}">
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
